@font-face {
    font-family: SegoeMDL2;
    src: url("../static/fonts/segmdl2.ttf");
}

:root {
    --text: #EAEBEF;
    --dark-text: #ACADB1;
    --darker-text: #838488;

    --lighter-slate: #323337;
    --light-slate: #27282C;
    --slate: #222327;
    --dark-slate: #1D1E22;
    --darker-slate: #18191D;
    --darkest-slate: #101115;

    --window-height: 370px;
    --window-width: 260px;
    --title-bar-height: 2rem;
}

html * {
    font-size: 16px;
    font-weight: 300;
}

body {
    margin: 0;
    color: var(--text);
    background-color: var(--slate);
}

/*
    General Style Utilities
*/

.row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    
    margin-top: .2em;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.muted {
    color: var(--darker-text);
}

label {
    font-size: 16px;
    font-weight: 300;
    margin-right: .3em;
}

input[type="text"], input[type="number"], select {
    border: none;
    padding: .4em;
    width: 100%;

    color: var(--dark-text);
    background-color: var(--dark-slate);
    transition: background-color .3s, color .3s;
}

input[type="text"]:disabled {
    color: var(--darker-text);
    background-color: var(--darkest-slate);
}

input:focus, select:focus {
    border: none;
    outline: none;
    background-color: var(--darker-slate);
}

.mt-0 { margin-top: 0 !important; }

/* Buttons */
.button {
    position: relative;
    padding: .4em 0;
    font-size: 14px;
    text-align: center;
    background-color: var(--darker-slate);
    transition: background-color .3s, background-image .3s, color .3s;
    z-index: 1;
}

.button:hover { cursor: pointer; }

.button:not(.active):hover {
    background-color: var(--darkest-slate);
}

.button:not(.active):hover::before { opacity: 1; }

.button::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;

    background-image: linear-gradient(to right, #006624, #002466);
    transition: opacity .3s;
    z-index: -1;
}

.button.active {
    background-image: linear-gradient(45deg, #159957, #155799);
    /*background-image: linear-gradient(45deg, #007A38, #00387A);*/
}

.align-items-center { align-items: center; }
.justify-content-center { justify-content: center; }

/*
    Checkbox/Switch styling
*/

.switch {
    border: none !important;
    margin-right: .4em !important;
    margin-top: 1px !important;
}

.switch:not([aria-checked="true"]) {
    border-color: var(--light-slate) !important;
    background-color: var(--darkest-slate) !important;
}

.switch[aria-checked="true"] {
    box-shadow: #691FFF 0px 0px 0px 11.1111px inset !important;
    background-color: #691FFF !important;
}

/*
    Selectize Styling
*/

.selectize-control {
    width: 100%;
    
}

.selectize-input {
    height: 100% !important;
    border: none !important;
    border-radius: 0 !important;
    padding: .4em !important;
    transition: background-color .3s, color .3s;
}

.selectize-input > * { vertical-align: middle !important; }

.selectize-input.full {
    color: var(--text);
    background-color: var(--dark-slate) !important;
}

.selectize-input.focus { background-color: var(--darker-slate) !important; }

.selectize-dropdown {
    border: none !important;
    color: var(--dark-text) !important;
    background-color: var(--darker-slate) !important;
}

.selectize-dropdown .active {
    color: var(--text) !important;
    background-color: var(--darkest-slate) !important;
}

.selectize-dropdown-content > .option { transition: background-color .3s, color .3s; }
.selectize-dropdown-content > .option:hover { cursor: pointer; }

/*
    Fully custom titlebar
*/

#title-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    height: var(--title-bar-height);

    color: var(--text);
    background-color: var(--darker-slate);

    -webkit-user-select: none;
    -webkit-app-region: drag;
}

#title-bar > #title {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: calc(100% - 5rem);
    height: var(--title-bar-height);
    padding: 0 .3em;

    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
}

#title-bar > #title > #version {
    margin-left: .35em;
    font-size: 0.8rem;
    color: var(--darker-text);
}

#title-bar > #buttons {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(2, 2.5rem);

    top: 0;
    right: 0;
    height: 100%;
}

#title-bar > #buttons > a {
    display: flex;
    grid-row: 1 / span 1;

    height: 100%;
    width: 100%;

    justify-content: center;
    align-items: center;

    font-family: SegoeMDL2;
    font-size: 10px;
    
    color: var(--text);
    background-color: var(--darker-slate);
    transition: background-color .3s;

    -webkit-app-region: no-drag;
}

#title-bar > #buttons > a:hover {
    cursor: pointer;
    background-color: var(--darkest-slate);
}

/*
    Application Styling
*/

#app {
    display: flex;
    flex-direction: column;
    height: calc(calc(var(--window-height) - var(--title-bar-height)) - .8em); /* .8 em is the body's padding */

    padding: .4em .5em;
    margin-top: var(--title-bar-height);

    font-family: "Open Sans", sans-serif;
}

#app > #armed-cover {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 24;
    background-color: rgba(0,0,0, 0.6);
}

#mouse-button > a {
    width: 33.3%;
}

#click-speed { margin-top: 0; }
#click-speed > #click-times {
    width: 30%;
    margin-right: 2%;
}

#click-speed > #unit-select { width: 68%; }

#toggle-input {
    display: flex;
    flex-direction: column;
}

#toggle-input > #single-checkbox {
    padding: .52em 0;
}

#toggle-input > #single-checkbox > label {
    margin-right: 0;
}

#arm-button {
    margin-top: .3em;
    z-index: 48;
    height: 4rem;
}

#arm-button > a {
    width: 100%;

    font-size: 20px;
    font-weight: 300;
    line-height: 3rem;
}

#arm-button > a::before {
    background-image: none !important;
    background-color: var(--darkest-slate) !important;
}

#info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    width: 100%;

    align-items: center;
    justify-content: center;

    color: var(--dark-text);
    z-index: 36;
}

#info > #status, #info > #clicks {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    transition: color .3s;
}

#info #status.active { color: rgb(21, 153, 87); }
#info #clicks { color: var(--text); }